header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: white;
  color: black;
  padding: 1rem 0rem 1rem 0rem;
  position: absolute;
  width: 100%;
}

.header-home {
  background-color: transparent;
  color: white;
}

.brand-name {
  margin-left: 10vw;
}

.nav-list {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  margin: 0rem 0rem 0rem 0rem;
}

a {
  text-decoration: none;
  color: inherit;
}