@import './header.css';
@import './shop.css';

body {
  margin: 0;
}


/* Hide Arrows/Spinners on input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}