.item-container {
  display: grid;
  justify-items: center;
  width: 18vw;
  margin: 1rem 0rem 1rem 0rem;
  border: 2px solid black;
}
.item-title {

}
.item-img{
  width: 100px;
  height: 100px;
}
.item-price {

}



.item-input {
  width: 1rem;
  text-align: center;
  margin: 1rem 1rem 1rem 1rem;
}

.item-addtocartbutton {
  margin: 0rem 0rem 1rem 0rem;
}