.shop-container {
  padding: 4rem 0rem 0rem 0rem;
}
.shop-title{
  text-align: center;
}
.shop-items {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}



@import './shop-item.css';